streamlit==1.25.0
openai-whisper==20231106
ffmpeg-python==0.2.0
librosa==0.10.0
numpy==1.24.3
torch==2.0.1
torchaudio==2.0.2
pydub==0.25.1
transformers==4.31.0
soundfile==0.12.1
python-speech-features==0.6  # Fixed version
yt-dlp==2023.7.6
matplotlib==3.7.1
speechbrain==0.5.15
huggingface-hub==0.16.4
torchvision==0.15.2
